.aboutContainer {
    width: 100%;
    background-color:#0e0d09;
    padding-bottom: 100px;
}
.logos {
    text-align: center;
    padding-top: 30px;
}
.logos img{
    width: 130px;
}
.biography {
    text-align: center;
    color: white;
    padding-top: 20px;
    width: 50%;
    margin: auto;
}
.biography h2{
    margin-bottom: 20px;
}
.biography p{
    font-size: 18px;
    line-height: 30px;
    letter-spacing:1.7px;
}

@media only screen and (max-width: 1200px) {
    .biography{
       width: 90%;
    }

}